{% extends 'base.html.twig' %}

{% block title %}Accueil - Mon Portfolio{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/home.css') }}">
{% endblock %}

{% block content %}
    <div class="wrapper-home-intro">
        <div>

        </div>
        <div>

        </div>
    </div>

{% endblock %}
